:root {
    --acol: #B94140;
    --lcol: #F1F5F5;
    --dcol: #2D3A43;
}
/* #region body & topnav stuff */
body {
    margin: 0;
    overflow-x: hidden;

    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.5em;
    
    color: var(--dcol);
    background: var(--lcol)
}
a img {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--acol);

    overflow: hidden;
}

#topnav {
    display: flex;
    align-items:flex-start;
    
    font-weight: bold;
    font-size: 1.4em;
    
    padding: 1em;
    
    background: var(--dcol);
    
    z-index: 2;
}
#topnav img {
    height: 100%;
}
#topnave a:first-child {
    display: flex;
    align-self: flex-start;
}
#topnav a {
    display: flex;
    align-self:flex-end;
    color: var(--lcol);

    margin: 0 2em;
}
a:visited {
    color: var(--acol);
}
/* #endregion */
article {
    display: flex;

    flex-direction: column;
    align-items: center;
}
article a {
    font-weight: bold;
    color: var(--dcol);
}
article .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: min(min-content, 500px);
}
article .img-container img {
    height: inherit;
}
article h1 {
    margin-bottom: 5px;
}
.container {
    width: 70%;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--lcol);
    padding: 20px;
    border-radius: 15px;
}
.container p {
    margin-top: 0;
    text-indent: 2em;
}
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--dcol);
    color: var(--lcol);

    width: 50%;
    padding: 2em 25%;
}
.aside a {
    color: var(--lcol);
}
article .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    align-items: center;
}
article .side-by-side img {
    max-height: 300px;
}
article .side-by-side p {
    max-width: 20em;

    align-self:flex-start;
    justify-self:flex-start;
}

article .img-gallery {
    width: 70%;
    padding: 20px;
    margin: 20px;
    background: var(--lacc);

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}
article .img-gallery img {
    max-width: 300px;
    max-height: 300px;
    justify-self: center;
}

article .god {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article .god img {
    background: var(--dcol);
    padding: 5px 50vw;

    max-height: 400px;
}